# Dictionary Excersices

### Excersice 1

In [16]:
# create dictionary
dict1 = {'a' : ['sasha', 'sushi'],
         'b' : ['banana', 'nana'],
         'c' : ['no', 'pain', 'no gain']}
dict1

{'a': ['sasha', 'sushi'],
 'b': ['banana', 'nana'],
 'c': ['no', 'pain', 'no gain']}

In [17]:
#append data
dict1['a'].append('sveta') 
dict1 ['b'].append('rana')
dict1

{'a': ['sasha', 'sushi', 'sveta'],
 'b': ['banana', 'nana', 'rana'],
 'c': ['no', 'pain', 'no gain']}

In [18]:
#append item
dict1['d'] = ['time is an excuse']
dict1

{'a': ['sasha', 'sushi', 'sveta'],
 'b': ['banana', 'nana', 'rana'],
 'c': ['no', 'pain', 'no gain'],
 'd': ['time is an excuse']}

In [19]:
#remove an item
dict1.pop('a')
dict1

{'b': ['banana', 'nana', 'rana'],
 'c': ['no', 'pain', 'no gain'],
 'd': ['time is an excuse']}

In [20]:
#create list fernando
fernando = list(dict1.values())
fernando

[['banana', 'nana', 'rana'], ['no', 'pain', 'no gain'], ['time is an excuse']]

### Excersice 2

In [26]:
# South America
uruguay_cities = ['Montevideo', 'Salto']
argentina_cities = ['Buenos Aires', 'Rosario']

# North America
us_cities = ['Los Angeles', 'Miami']
canada_cities = ['Montreal', 'Victoria']

In [29]:
# create South America dictionary
South_America = {}
South_America['Uruguay'] = uruguay_cities
South_America['Argentina'] = argentina_cities
South_America

{'Argentina': ['Buenos Aires', 'Rosario'], 'Uruguay': ['Montevideo', 'Salto']}

In [31]:
# create North America dictionary
North_America = {}
North_America['USA']= us_cities
North_America['Canada']= canada_cities
North_America

{'Canada': ['Montreal', 'Victoria'], 'USA': ['Los Angeles', 'Miami']}

In [34]:
# America Dictionary (sorry central america friends, too much work to add you)
america_dict= {'South America': South_America, 'North America': North_America}
america_dict

{'North America': {'Canada': ['Montreal', 'Victoria'],
  'USA': ['Los Angeles', 'Miami']},
 'South America': {'Argentina': ['Buenos Aires', 'Rosario'],
  'Uruguay': ['Montevideo', 'Salto']}}

# SETS Excersices

### Excersice 1

In [36]:
#create strings
first = 'dfsagiasdkfghdskasdkndajalsd'
second = 'ajsddhagyfoefaskdasdkaadafd'
# len of intersection
a = len(set(first) & set(second))
a

8

### Excersice 2

In [40]:
# Data Input
sunday_visitors = ['abe', 'bob', 'carl', 'dave', 'ed',
                   'heinrich', 'isabel', 'abe', 'fred']
monday_visitors = ['abe', 'gale', 'ed', 'fred']
tuesday_visitors = ['ed', 'bob', 'jack', 'fred', 'abe',
                    'abe', 'jack', 'kent', 'gale']

In [49]:
#unique visitors using sets - exludes repetions
sund_visitors = set(sunday_visitors)
mond_visitors = set(monday_visitors)
tues_visitors = set(tuesday_visitors)
#unique visitors on the week solution U all the sets creating a new one
visitors = sund_visitors | mond_visitors | tues_visitors
#print(sund_visitors, mond_visitors, tues_visitors)
visitors

{'abe',
 'bob',
 'carl',
 'dave',
 'ed',
 'fred',
 'gale',
 'heinrich',
 'isabel',
 'jack',
 'kent'}

In [50]:
# Question two - math expresion for included <
print(sund_visitors < mond_visitors | tues_visitors)
print(mond_visitors < sund_visitors | tues_visitors)
print(tues_visitors < mond_visitors | tues_visitors)

False
True
False

In [64]:
# Question three - intersection
bored_people = sund_visitors & mond_visitors & tues_visitors

not_so_bored = sund_visitors & mond_visitors | mond_visitors & tues_visitors | sund_visitors & tues_visitors

In [66]:
# Question four - ^
only_tues = tues_visitors ^ (sund_visitors | mond_visitors)
only_tues

{'carl', 'dave', 'heinrich', 'isabel', 'jack', 'kent'}

In [ ]:
# Question five - I dont even understand the question